@model ViewDocumentActionInputModel
<div class="modal fade" data-bs-backdrop="static" id="reviewing">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Confirmation</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body px-4">
                <p>Are you sure you want to start reviewing this document?</p>
            </div>
            <div class="modal-footer">
                <button data-bs-dismiss="modal" class="btn btn-light">Cancel</button>
                <a asp-page-handler="ViewDocumentAction" asp-route-prevPage="@Model.PrevPage" asp-route-pId="@Model.Id" asp-route-status="@ReviewerStatus.OnReview" class="btn btn-primary">Proceed</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="reviewed">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Confirmation</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body px-4">
                <p>Are you sure you want to finalize your review and proceed with the action?</p>
            </div>
            <div class="modal-footer">
                <button data-bs-dismiss="modal" class="btn btn-light">Cancel</button>
                <a asp-page-handler="ViewDocumentAction" asp-route-prevPage="@Model.PrevPage" asp-route-pId="@Model.Id" asp-route-status="@ReviewerStatus.Reviewed" class="btn btn-primary">Proceed</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" data-bs-backdrop="static" id="approved-document">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Confirmation</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body px-4">
                <p>Are you sure you want to approved this document?</p>
            </div>
            <div class="modal-footer">
                <button data-bs-dismiss="modal" class="btn btn-light">Cancel</button>
                <a asp-page-handler="ViewDocumentAction" asp-route-prevPage="@Model.PrevPage" asp-route-pId="@Model.Id" asp-route-status="@ReviewerStatus.Approved" class="btn btn-primary">Proceed</a>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" data-bs-backdrop="static" id="prepare-release">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Confirmation</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body px-4">
                <p>Are you sure you want to prepare this document for prepare document</p>
            </div>
            <div class="modal-footer">
                <button data-bs-dismiss="modal" class="btn btn-light">Cancel</button>
                <a asp-page-handler="ViewDocumentAction" asp-route-prevPage="@Model.PrevPage" asp-route-pId="@Model.Id" asp-route-status="@ReviewerStatus.PreparingRelease" class="btn btn-primary">Proceed</a>
            </div>
        </div>
    </div>
</div>
