@page
@model LoginModel

@{
    Layout = "~/Areas/Identity/Pages/_LoginRegisterLayout.cshtml";

    ViewData["Title"] = "Log in";
}
<div id="login"  class="shadow p-lg-5 p-md-5 p-3 rounded-2">
    <div class="d-flex justify-content-center">
        <img src="~/Logo/@Model.LogoFileName" width="150" height="150" class="rounded-circle mb-2" />
    </div>
    <h4 class="text-center fw-bold mb-4 text-dark text">CHED MIMAROPA</h4>
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <form id="form-pass" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="Input.UserName" class="fw-bold mb-2 text"></label><span class="text-danger fw-bold">*</span>
            <input asp-for="Input.UserName" class="form-control border-2 border border-primary border-opacity-75" placeholder="Enter here.." />
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Input.Password" class="fw-bold mb-2 text">Password</label><span class="text-danger fw-bold">*</span>
            <input asp-for="Input.Password" type="password" class="form-control border-2 border border-primary border-opacity-75" placeholder="Enter here.." />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="mb-3 d-flex flex-column flex-lg-row flex-md-row align-item-lg-center align-item-md-center align-items-start justify-content-lg-between justify-content-md-between">
            <div class="checkbox ">
                <label asp-for="Input.RememberMe" class="form-label text">
                    <input class="form-check-input border-2 border border-primary border-opacity-75" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <a asp-page="./ForgotPassword"  class="text-primary">Forgot password?</a>
        </div>

        <!--button type="submit" class="btn btn-primary w-100 mb-2">
            <span>Sign in</span>
            <span class="d-none spinner-grow spinner-grow-sm"></span>
            <span class="d-none">Loading...</span>
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </!--button-->

        <button type="submit" id="submitButton" class="btn btn-primary w-100 mb-2">
            <span class="button-text">Sign in</span>
            <span class="d-none spinner-grow spinner-grow-sm loading-spinner"></span>
            <span class="d-none loading-text">Loading...</span>
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </button>
        <span class="d-block text-center text">Don't have an account? <a class="text-primary fw-bolder" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a></span>
    </form>
</div>



@*
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
*@


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
