@page
@model WebTrackED_CHED_MIMAROPA.Pages.Application.Admin.Document.Ended.IndexModel
@{
	ViewData["Title"] = "Completed Document";
	var breadcrump_data = new BreadCrumpViewModel
			{
				pageName = "Completed Document",
				date = DateTime.Now,
				breadCrump = new (string, string?, string, bool, int?)[]
														{
				("fa-solid fa-list-check",null,"Document List",true,null)
												}
			};
	string prevPage = "./Ended/Index";
	
}
@await Component.InvokeAsync("BreadCrump", breadcrump_data)
<div class="p-3 rounded-3 bg-white shadow ">
	<div class="overflow-x-scroll px-1 remove-scrollbar">
		<table id="table-data" class="table table-striped table-hover remove-scrollbar w-100">
			<thead class="bg-primary-subtle">
				<tr>
					<th>Document Ref#.Code</th>
					@if (!User.IsInRole("Sender"))
					{
						<td>Document Type</td>
					}
					
					<th>Details</th>
					<th>Status</th>
					<th>Prioritization</th>
					<th>Date</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				@foreach (var docAttachment in Model.DocsAttachments)
				{
					<tr>
						<td>
							<div class=" text-primary align-items-center d-flex gap-2 justify-content-center">
								<i class="fa-solid fa-file-signature"></i>
								<span>@(docAttachment.DocumentAttachment.DocumentType == DocumentType.WalkIn ? $"dW{docAttachment.DocumentAttachment.Id.ToString("00000")}" : $"dE{docAttachment.DocumentAttachment.Id.ToString("00000")}")</span>
							</div>
						</td>
						@if (!User.IsInRole("Sender"))
						{
							<td>@(docAttachment.DocumentAttachment.DocumentType == DocumentType.WalkIn ? "Walk In" : "Electronic")</td>
						}
						
						<td>
							<span class="text-primary">@docAttachment.DocumentAttachment.Category.CategoryName</span>
							<span class="fw-bold"> - @docAttachment.DocumentAttachment.SubCategory.SubCategoryName</span>
							<span class="fw-light">@(docAttachment.DocumentAttachment.Description?.Length > 20 ? $"{docAttachment.DocumentAttachment.Description.Substring(0, 20)}..." : docAttachment.DocumentAttachment.Description)</span>
						</td>
						<td>
							<span class="text-white  px-3 py-1 rounded-pill @(docAttachment.DocumentAttachment.Status == Status.Pending ?"bg-warning":docAttachment.DocumentAttachment.Status==Status.OnProcess?"bg-primary":docAttachment.DocumentAttachment.Status == Status.Approved?"bg-success":"bg-danger") ">@docAttachment.DocumentAttachment.Status</span>
						</td>
						<td>
							@if (docAttachment.DocumentAttachment.Prioritization != null)
							{
								<span class="fw-bolder@(docAttachment.DocumentAttachment.Prioritization == Prioritization.Urgent ?"text-danger":"text-success") ">@docAttachment.DocumentAttachment.Prioritization</span>
							}
							else
							{
								<span class="text-secondary fs-italic">Not Set</span>
							}
						</td>
						<td>
							<span class="fs-italic text-body-tertiary">@docAttachment.DocumentTracking.UpdatedAt.ToString("MM/dd/yyy hh:mm tt")</span>
						</td>
						<td class="text-nowrap">
							<a asp-page="/Application/Document/ViewDocs" asp-route-prevPage="@prevPage" asp-route-pId="@docAttachment.DocumentAttachment.Id" class="text-white rounded-4 btn btn-warning"><i class="fa-regular fa-eye"></i></a>
							<a asp-page="/Application/Document/DocumentTracking" asp-route-prevPage="@prevPage" asp-route-pId="@docAttachment.DocumentAttachment.Id" class="text-white rounded-4 btn btn-info"><i class="fa-solid fa-chart-bar"></i></a>
							@if (User.IsInRole("Admin") || User.IsInRole("Sender"))
							{
								<button class="rounded-4 btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@docAttachment.DocumentAttachment.Id"><i class="text-white fa-regular fa-trash-can"></i></button>
								<partial name="PartialViews/_DeleteDataModal" model="new DeleteModalViewModel(){Id=docAttachment.DocumentAttachment.Id.ToString(),returnUrl = null}" />
							}

							@if (!User.IsInRole("Sender") && docAttachment.DocumentAttachment.Status == Status.Disapproved && docAttachment.ReviewerAccount.Id == Model.userId)
							{
								<button class="rounded-4 btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-comment-@docAttachment.DocumentAttachment.Id"><i class="fa-regular fa-comment-dots"></i></button>
								<partial name="_AddComment" model="@(docAttachment.DocumentAttachment.Id.ToString())" />
							}
						</td>
					</tr>
				}

			</tbody>
		</table>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial"/>

	@if (User.IsInRole("Sender"))
	{
		<script>

			$(function () {
				$('#table-data').DataTable({
					"order": [[4, "desc"]] // Order by the 6th column (index 5) in descending order
				});
			})
		</script>
	}
	else
	{
		<script>

			$(function () {
				$('#table-data').DataTable({
					"order": [[5, "desc"]] // Order by the 6th column (index 5) in descending order
				});
			})
		</script>
	}

}