@model MarkOnProcessAndDisapprovedInputModel
<div class="modal fade" data-bs-backdrop="static" id="mark-onprocess">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5>Message</h5>
				<button class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body px-5">
				<p>Are you sure you want to review this?</p>
			</div>
			<div class="modal-footer">
				<button data-bs-dismiss="modal" class="btn btn-light">Cancel</button>
				<a asp-page-handler="MarkAsOnProcessOrDisapproved" asp-route-prevPage="@Model.PrevPage" asp-route-pId="@Model.Id" asp-route-status="@Status.OnProcess" class="btn btn-primary">Proceed</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="disapproved">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5>Message</h5>
				<button class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body px-5">
				<p>Are you sure you want to disapprove this?</p>
			</div>
			<div class="modal-footer">
				<button data-bs-dismiss="modal" class="btn btn-light">Cancel</button>
				<a asp-page-handler="MarkAsOnProcessOrDisapproved" asp-route-prevPage="@Model.PrevPage" asp-route-pId="@Model.Id" asp-route-status="@Status.Disapproved" class="btn btn-primary">Proceed</a>
			</div>
		</div>
	</div>
</div>





