@page
@model WebTrackED_CHED_MIMAROPA.Pages.Application.Document.DocumentTrackingModel

@{
    ViewData["Title"] = "Document-View";
    var prevPage = Model.PreviousPage;
    var breadcrump_data = new BreadCrumpViewModel
            {
                pageName = "Document Tracking",
                date = DateTime.UtcNow.AddHours(8)
                ,
                breadCrump = new (string, string?, string, bool, int?)[]                                                        
                {
                ("fa-solid fa-list-check",prevPage,"Document List",false,null),
                ("fa-solid fa-file-contract",null,"Document Tracking",true,null)

                }
            };
}
@await Component.InvokeAsync("BreadCrump", breadcrump_data)
@if (Model.DocumentAttachment.DocumentTrackings.First().ReviewerStatus == ReviewerStatus.Completed)
{
    <h6 class="py-2 rounded-2 text-center bg-success-subtle">Complete</h6>
}
<h5 class="py-2 rounded-2 bg-info text-white w-100 text-center mb-4"><i class="fa-solid fa-file-contract"></i> DocumentTracking</h5>
<div class="row">
    <div class="col-12">
        <div class="rounded-3  mb-4 d-flex justify-content-center">
            <div class="d-flex justify-content-between position-relative" style="width: 500px">
                <div class="w-100  bg-secondary bg-opacity-50 position-absolute" style="height: 2px; top: 25px">
                </div>
                <div class="d-flex flex-column align-items-center z-1" style="background-color: #F6F9FF">
                    <div class="border border-2  border-success border-opacity-50 d-flex align-items-center justify-content-center rounded-circle" style="width: 50px; height: 50px;">
                        <i class="fs-4 fa fa-file-circle-exclamation text-success"></i>
                    </div>
                    <h6 class="text-secondary">
                        Pending
                        @if (Model.IsPending)
                        {

                            <i class="fa-solid fa-clock-rotate-left text-warning"></i>
                        }
                        else if (Model.IsOnProcess || Model.IsApproved || Model.IsPreparingForRelease ||Model.IsCompleted)
                        {
                            <i class="fa-solid fa-circle-check text-success"></i>
                        }
                    </h6>
                </div>
                <div class="d-flex flex-column align-items-center z-1" style="background-color: #F6F9FF">

                    <div class="border border-2 @(!Model.IsPending ? "border-success":"border-secondary") border-opacity-50 d-flex align-items-center justify-content-center rounded-circle" style="width: 50px; height: 50px;">
                        <i class="fs-4 fa fa-file-pen @(!Model.IsPending ? "text-success":"text-body-secondary")"></i>
                    </div>
                    <h6 class="text-secondary">
                        On process
                        @if (Model.IsOnProcess)
                        {
                            <i class="fa-solid fa-clock-rotate-left text-warning"></i>
                        }
                        else if (Model.IsPreparingForRelease||Model.IsCompleted || Model.IsApproved)
                                    {
                            <i class="fa-solid fa-circle-check text-success"></i>
                        }
                    </h6>
                </div>
                <div class="d-flex flex-column align-items-center z-1" style="background-color: #F6F9FF">
                    <div class="border border-2 @(!Model.IsPending && !Model.IsOnProcess? "border-success":"border-secondary") border-opacity-50 d-flex align-items-center justify-content-center rounded-circle" style="width: 50px; height: 50px;">
                        <i class="fs-4 fa fa-file-circle-check  @(!Model.IsPending && !Model.IsOnProcess? "text-success":"text-body-secondary")"></i>
                    </div>
                    <h6 class="text-secondary">
                        Completed
                        @if (Model.IsPreparingForRelease || Model.IsApproved)
                        {
                            <i class="fa-solid fa-clock-rotate-left text-warning"></i>
                        }
                        else if (Model.IsCompleted)
                        {
                            <i class="fa-solid fa-circle-check text-success"></i>
                        }

                    </h6>
                </div>


            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-12 mb-lg-0 mb-md-0 mb-3">
        <div class="rounded-3 pb-5 bg-white shadow p-4">
            <h5 class="fw-bolder text-primary mb-4">Document Details</h5>
                <div class="d-flex mb-3 align-items-center justify-content-between">
                    <div class="col-4">
                    <span class="text-body-secondary">Document Ref#.Code</span>
                    </div>
                  <div class="col-8 d-flex justify-content-end">
                    <span class="text-dark fw-bolder d-block text-end">@(Model.DocumentAttachment.DocumentAttachment.DocumentType == DocumentType.WalkIn ? $"dW{Model.DocumentAttachment.DocumentAttachment.Id.ToString("00000")}" : $"dE{Model.DocumentAttachment.DocumentAttachment.Id.ToString("00000")}")</span>
                  </div>
                  
                </div>
     
                <div class="row mb-3">
                    <div class="col-4">
                    <span class="text-body-secondary">Sender</span>
                    </div>
                    <div class="col-8 d-flex justify-content-end">
                    <span class="text-dark fw-bolder d-block text-end">@(Model.DocumentAttachment.DocumentAttachment.DocumentType != DocumentType.WalkIn ? $"{Model.DocumentAttachment.SenderAccount.FirstName} {Model.DocumentAttachment.SenderAccount.MiddleName} {Model.DocumentAttachment.SenderAccount.LastName} {Model.DocumentAttachment.SenderAccount.Suffixes}":"Prepared by Records Office")</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <span class="text-body-secondary">Prioritization</span>
                    </div>
                    <div class="col-8 d-flex justify-content-end">
                    <span class="text-dark fw-bolder d-block text-end">@(Model.DocumentAttachment.DocumentAttachment.Prioritization != null ? Model.DocumentAttachment.DocumentAttachment.Prioritization : "Not Set")</span>
                    </div>
                 
                </div>
            <div class="row mb-3">
                <div class="col-4">
                    <span class="text-body-secondary">Document Type</span>
                </div>
                <div class="col-8 d-flex justify-content-end">
                    <span class="text-dark fw-bolder d-block text-end">@(Model.DocumentAttachment.DocumentAttachment.DocumentType == DocumentType.WalkIn ? "Walk In" : $"Electronic")</span>
                </div>

            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <span class="text-body-secondary col-4">Category</span>
                </div>
                <div class="col-8 d-flex justify-content-end">
                    <span class="text-dark fw-bolder d-block text-end">@Model.DocumentAttachment.Category.CategoryName</span>
                </div>

            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <span class="text-body-secondary col-4">Sub Category</span>
                </div>
                <div class="col-8 d-flex justify-content-end">
                    <span class="text-dark fw-bolder d-block text-end">@Model.DocumentAttachment.SubCategory.SubCategoryName</span>
                </div>
               
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <span class="text-body-secondary col-4">Subject</span>
                </div>
                <div class="col-8 d-flex justify-content-end">
                    <span class="text-dark fw-bolder d-block text-end">@(Model.DocumentAttachment.DocumentAttachment.Subject ?? "None")</span>
                </div>

            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <span class="text-body-secondary col-4">Description</span>
                </div>
                <div class="col-8 d-flex justify-content-end">
                    <span class="text-dark fw-bolder d-block text-end">@(Model.DocumentAttachment.DocumentAttachment.Description ?? "None")</span>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-12 overflow-x-scroll pb-5 remove-scrollbar">
        <div class="rounded-3 bg-white shadow p-4" style="width: 550px">
            <h5 class="fw-bolder text-primary mb-4"><i class="fa-solid fa-file-signature"></i> Document process</h5>
            <hr />
            <div class="container position-relative">
                <span class="z-0 position-absolute bg-secondary-subtle"style="padding: 0 2px;  left: 45.5%; height: 100%"></span>
                <div class="row">
                    @foreach(var docTracking in Model.DocumentTrackings)
                    {
                        <div class="col-5 mb-5">
                            <h6 class="text-end">@docTracking.DocumentTracking.AddedAt.ToString("dd MMM,yyy hh:mm tt")</h6>
                        </div>
                        <div class="col-1 mb-5">
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="bg-secondary rounded-circle p-2 z-1">
                                </span>
                            </div>
                        </div>
                        <div class="col-6 mb-5">
                            <h6 class="@(docTracking.DocumentTracking.ReviewerStatus == ReviewerStatus.Completed ? "text-white fw-bolder bg-success rounded-pill px-3 py-2 d-inline":"")">
                                @(docTracking.DocumentTracking.ReviewerStatus == ReviewerStatus.ToReceived ? "To Be Recieved by" : docTracking.DocumentTracking.ReviewerStatus == ReviewerStatus.OnReview ? "Reviewing by" : docTracking.DocumentTracking.ReviewerStatus == ReviewerStatus.Reviewed ? "Reviewed by" : docTracking.DocumentTracking.ReviewerStatus == ReviewerStatus.Passed ? "Successfully Passed By" : docTracking.DocumentTracking.ReviewerStatus == ReviewerStatus.Approved ? "Successfully Approved" : docTracking.DocumentTracking.ReviewerStatus == ReviewerStatus.PreparingRelease ? "Preparing for Release" : "Completed")
                                @if(docTracking.DocumentTracking.ReviewerStatus != ReviewerStatus.Completed)
                                {
                                    <span>
                                        @docTracking.Designation?.DesignationName
                                        @(Model.UserId == docTracking.DocumentTracking.ReviewerId ? "(You)" : "")

                                        @*
                                @if (!User.IsInRole("Sender"))
                                {
                                @($"{docTracking.Account.FirstName} {docTracking.Account.MiddleName} {docTracking.Account.LastName} {docTracking.Account.Suffixes}")

                                }
                                else
                                {
                                @docTracking.Designation?.DesignationName
                                }
                                *@

                                    </span>
                                    @if (!string.IsNullOrEmpty(docTracking.DocumentTracking.Note))
                                    {
                                        <h6 class="fst-italic text-secondary m-0 p-0">(Remarks/Notes)</h6>
                                        <p class="fst-italic text-secondary m-0">@(docTracking.DocumentTracking.Note)</p>
                                    }
                                }
                              
                            </h6>
                            @*
                        @if (!User.IsInRole("Sender"))
                        {
                        <h6 class="text-primary fw-bolder">@docTracking.Designation?.DesignationName</h6>
                        }
                            *@
                         
                          
                        </div>
                    }
              
                </div>
            </div>
           
        </div>
    </div>
</div>
