@page
@model WebTrackED_CHED_MIMAROPA.Pages.Application.Admin.Document.Incoming.IndexModel
@{
    ViewData["Title"] = "Incoming Document";
    string prevPage = "/Application/Document/Incoming/Index";
    string Id = "Id ko";
    var breadcrump_data = new BreadCrumpViewModel
            {
                pageName = "Incoming Document",
                date = DateTime.Now,
                breadCrump = new (string, string?, string, bool,int?)[]
                                                {
                ("fa-solid fa-list-check",null,"Document List",true,null)
                                        }
            };
    
}
@await Component.InvokeAsync("BreadCrump", breadcrump_data)
<div class="p-3 rounded-3 bg-white shadow ">
    <div class="overflow-x-scroll px-1 remove-scrollbar">
        <table id="table-data" class="table table-striped table-hover remove-scrollbar  w-100">
            <thead class="bg-primary-subtle">
                <tr>
                    <th>Document Ref#.Code</th>
                    <th>Document Type</th>
                    <th>Details</th>
                    <th>Status</th>
                    <th>Prioritization</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var docAttachment in Model.DocsAttachments)
                {
                    var IsPending = docAttachment.DocumentTrackings.Count() <= 1 || docAttachment.DocumentTrackings.Count() > 1 && !docAttachment.DocumentTrackings.Any(x => x.ReviewerStatus == ReviewerStatus.OnReview); ;
                    var IsOnProcess = docAttachment.DocumentTrackings.Count() > 1 && !docAttachment.DocumentTrackings.Any(x => x.ReviewerStatus == ReviewerStatus.Completed || x.ReviewerStatus == ReviewerStatus.PreparingRelease);
                    var IsPreparingForRelease = docAttachment.DocumentTrackings.First().ReviewerStatus == ReviewerStatus.PreparingRelease;
                    var IsCompleted = docAttachment.DocumentTrackings.First().ReviewerStatus == ReviewerStatus.Completed;
                    <tr>
                        <td>
                            <div class=" text-primary align-items-center d-flex gap-2 justify-content-center">
                                <i class="fa-solid fa-file-signature"></i>
                                <span>@(docAttachment.DocumentAttachment.DocumentType == DocumentType.WalkIn ? $"dW{docAttachment.DocumentAttachment.Id.ToString("00000")}" : $"dE{docAttachment.DocumentAttachment.Id.ToString("00000")}")</span>
                            </div>
                        </td>
                        <td>@(docAttachment.DocumentAttachment.DocumentType == DocumentType.WalkIn ? "Walk In" : "Electronic")</td>
                        <td>
                            <span class="text-primary">@docAttachment.DocumentAttachment.Category.CategoryName</span>
                            <span class="fw-bold"> - @docAttachment.DocumentAttachment.SubCategory.SubCategoryName</span>
                            <span class="fw-light">@(docAttachment.DocumentAttachment.Description?.Length > 20 ? $"{docAttachment.DocumentAttachment.Description.Substring(0, 20)}..." : docAttachment.DocumentAttachment.Description)</span>
                        </td>
                        <td>
                            <span class="fw-bolder px-3 text-white text-nowrap  px-3 py-1 rounded-pill  @(IsPending ?"bg-info":IsOnProcess?"bg-primary":IsPreparingForRelease ? "bg-warning":IsCompleted?"bg-success":"bg-danger") ">@(IsPreparingForRelease ? "Ready for Release":IsPending ? "Peding": IsOnProcess? "On process":IsCompleted ? "Completed":"")</span>
                        <td>
                            @if(docAttachment.DocumentAttachment.Prioritization != null)
                            {
                                <span class="fw-bolder @(docAttachment.DocumentAttachment.Prioritization == Prioritization.Urgent ?"text-danger":"text-success") ">@docAttachment.DocumentAttachment.Prioritization</span>
                            }
                            else
                            {
                                <span class="text-secondary fs-italic">Not Set</span>
                            }

                        </td>
                        <td>
                            <span class="fs-italic text-body-tertiary">@docAttachment.DocumentTracking.UpdatedAt.ToString("MM/dd/yyy hh:mm tt")</span>
                        </td>
                        <td class="text-nowrap">
                            <a asp-page="/Application/Document/ViewDocs" asp-route-prevPage="@prevPage" asp-route-pId="@docAttachment.DocumentAttachment.Id" class="rounded-4 btn btn-warning text-white"><i class="fa-regular fa-eye"></i></a>
                            <a asp-page="/Application/Document/DocumentTracking" asp-route-prevPage="@prevPage" asp-route-pId="@docAttachment.DocumentAttachment.Id" class="rounded-4 btn btn-info text-white"><i class="fa-solid fa-chart-bar"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
   
</div>
@section Scripts{
    <script>
        $(function () {
            $('#table-data').DataTable({
                "order": [[5, "desc"]] // Order by the 6th column (index 5) in descending order
            });
        })
    </script>
}